.bg-myRed {
  background-color: crimson;
}

.content {
  paddig: 12px;
  margin-top: 20px;
  margin-left: 20px;
}

:root {
  --mainDark: #212529;
  --MainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #7c7f84;
  --mainBlue: #007bff;
}
